API_ID=
API_HASH=
BOT_TOKEN=:
MONGO_DB_URI=mongodb+srv://rishutripathi161:rishutripathi161@cluster0.a5gbo0x.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOG_GROUP_ID=-1002094021168
OWNER_ID=5516578116
STRING_SESSION=
