API_ID=26668052
API_HASH=5278637b03dd2ee765b656df85abb901
BOT_TOKEN=7086662686:AAGZNvmxIopIPmpDzxU3bRuEQ7l8yj6ce80
MONGO_DB_URI=mongodb+srv://Rishabh1126:Rishabh1126@cluster0.fuauiek.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOG_GROUP_ID=-1002094021168
OWNER_ID=5516578116
STRING_SESSION=BQGO9lYAUpy94plUNAzkiNcf5Rhufo29wwxYFpXAzX3IpJoToiGJkwD7ftEtvgkzlkHTfWPBUR2IIJXTB55KObFw6jKviU_KjAUxzgLwrvYefhj0sFj0a8ifjQbUSr2rQBjdUJRiMB8WU46oPup7PunsUWM9kn5X9a8zn4g8jqzsDjFjpYNHDgK70rvziWziG_aXvT4a7Q00W0XioyJN-gFTh3ZYnZ2i9ILahURmNQjOl23EUSSyV-0fLkg8ORarDdCcy2Bnjv5J1gHNBPt5mV0k67cXFFPIfrp8WMU7BY_8xpIHKUiS3pxvn5I4bJt0xrlopj3mwpO3eEHsjLN1cWnr7Rlx6wAAAAGFyeAoAA
